
#productList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
 
}

#productList .card-body p.card-text {
  min-height: 50px; 
}

#productList .card-body .mt-auto {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
}

#productList .card-body .mt-auto .btn {
  flex: 1;
}
